# Deployment
DOCKERHUB_USER=
DOCKERHUB_TOKEN=
DOCKERHUB_IMAGE=quickstark/sterling-hollis-fe
FRONTEND_PORT=45173

# Runtime
VITE_API_URL=
VITE_API_PROXY_TARGET=https://sterling-hollis-be.quickstark.com
VITE_DEFAULT_STORE_ID=1001
VITE_ENVIRONMENT=development
VITE_CLERK_PUBLISHABLE_KEY=
VITE_DATADOG_APPLICATION_ID=
VITE_DATADOG_CLIENT_TOKEN=
VITE_DATADOG_SITE=datadoghq.com
VITE_DATADOG_SERVICE=sterling-hollis-fe
VITE_DATADOG_SESSION_SAMPLE_RATE=100
VITE_DATADOG_REPLAY_SAMPLE_RATE=100
VITE_DATADOG_ENABLE_LOCAL=false
